article {
  header {
    width: 100%;
    background-color: #fff;
    .toolbar {
      line-height: 44px;
    }
  }
  section {
    padding-bottom: 140px;
    .item {
      display: flex;
      align-items: center;
      width: 100%;


    }
    &.batch {
      .item {
        &:before {
          content: " ";
          display: block;
          width: 30px;
          height: 30px;
          border: solid 1px #000;
        }
        &.selected {
          &:before {
            background-color: red;
          }
        }
      }
    }
  }

  .orderitem {
    flex-grow: 1;
    position: relative;
    .islink {
      position: absolute;
      top: 50%;
      right: 6px;
      margin-top: -14px;
    }
    .cell,
    .cellbox {
      font-size: 14px;
      ul {
        flex: 1;
        li {
          padding: 5px 0;
        }
      }
      span {
        &:first-child {
          display: inline-block;
          color: #888;
          min-width: 4em;
          text-align: right;
        }
        &.paid {
          float: right;
        }
      }
    }
  }

  footer {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background-color: #fff;

    &:before {
      content: " ";
      position: absolute;
      left: 0;
      top: -1px;
      right: 0;
      height: 1px;
      border-top: 1px solid #D9D9D9;
      color: #D9D9D9;
      -webkit-transform-origin: 0 100%;
      transform-origin: 0 100%;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
}

