.room-title {
  margin-top: .77em;
  margin-bottom: .3em;
  padding-left: 15px;
  padding-right: 15px;
  color: #999999;
  font-size: 14px;
}
.sub-rooms {
  position: relative;
  background-color: #fff;
  font-size: 16px;
  margin-bottom: 13px;
  .room-type {
    padding: 10px 15px 10px 0;
    margin-left: 15px;
    border-bottom: 1px solid #E6E6E6;
    .grey {
      color: #8A8A8A;
    }
    .right {
      float: right;
    }
  }
  .sub-booker {
    padding: 10px 15px;
    color: #4A4A4A;
    font-size: 16px;
  }
  .time {
    position: absolute;
    right: 15px;
    top:57%;
    color: #8A8A8A;
  }
}
