//list
.batchbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  padding: 0 15px;
  font-size: 16px;
  .allpick {
    display: flex;
    align-items: center;
    &:before {
      content: " ";
      display: block;
      box-sizing: border-box;
      width: 18px;
      height: 18px;
      border-radius: 100%;
      border: solid 2px #C3C3C3;
      margin-right: 15px;
    }
    &.batch {
      &:before {
        background-color: #5077aa;
      }
    }
  }
}

.checker-item {
  display: flex;
  align-items: center;
  width: 100%;
  .weui-cell-group {
    width: 100%;
  }
}

.batch {
  .checker-item {
    &:before {
      content: " ";
      display: table;
      box-sizing: border-box;
      width: 18px;
      height: 18px;
      border: solid 1px #C3C3C3;
      border-radius: 100%;
      margin-left: 15px;
      margin-right: 15px;
    }
    &.selected {
      &:before {
        background-color: #5077aa;
      }
    }
  }
}

//detail
.money {
  outline: none;
  border: 1px solid #E6E6E6;
  height: 35px;
  border-radius: 6px;
  text-indent: 1em;
  font-size: 14px;
  &::placeholder {
    color: #E0E0E0;
  }
}



