//list
.batchbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  padding: 0 15px;
  font-size: 16px;
  .allpick {
    display: flex;
    align-items: center;
    &:before {
      content: " ";
      display: block;
      box-sizing: border-box;
      width: 18px;
      height: 18px;
      border-radius: 100%;
      border: solid 2px #C3C3C3;
      margin-right: 15px;
    }
    &.batch {
      &:before {
        background-color: #5077aa;
      }
    }
  }
}




footer {
  background-color: #fff;
  &:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #C3C3C3;
    color: #C3C3C3;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}

.batch {
  .checker-item {
    &:before {
      content: " ";
      display: table;
      box-sizing: border-box;
      width: 18px;
      height: 18px;
      border: solid 1px #C3C3C3;
      border-radius: 100%;
      margin-left: 15px;
      margin-right: 15px;
    }
    &.selected {
      &:before {
        background-color: #5077aa;
      }
    }
  }
}
.choose {
  .checker-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &:before {
      content: " ";
      display: inline-block;
      box-sizing: border-box;
      width: 18px;
      height: 18px;
      border: solid 1px #C3C3C3;
      border-radius: 5px;
      margin-right: 15px;
    }
    &.selected {
      &:before {
        background-color: #1ACDB4;
        border: solid 1px #1ACDB4;
      }
    }
  }
}

//detail
.money {
  outline: none;
  border: 1px solid #E6E6E6;
  height: 35px;
  border-radius: 6px;
  text-indent: 1em;
  font-size: 14px;
  &::placeholder {
    color: #E0E0E0;
  }
}



