
article {
  width: 100%;
  box-sizing: border-box;
  user-select: none;
  touch-callout: none;
  .orderStatusBtn {
    list-style: none;
    color: #2c5fc3;;
    width: 100%;
    border: 1px solid #e9e9e9;
    height: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(190, 190, 190, 0.5);
    &.checkStatus {
      background: #3d72c3;
      color: #FFFFFF;
    }
  }
  .police {
    margin-top: 2.4rem;
    .list-wrapper0 {
      position: relative;
      padding-top: 0;
    }
    .list-wrapper1 {
      position: relative;
      padding-top: 0;
    }
  }
  .fontColorTip .redTip {
    color: #df1f0f;
  }
  .fontColorTip .blueTip {
    color: #3393df;
  }
  .fontColorTip .greenTip {
    color: #69c572;
  }
  .todoListGroup {
    .cell-body {
      background: #FFFFFF;
      padding: 1rem;
      margin-bottom: 1rem;
    }
  }
    .handledListGroup {
        .cell-body {
            background: #FFFFFF;
            padding: 1rem;
            margin-bottom: 1rem;
            .cell-value{
                color: #000000;
            }
        }
    }

  .titleDate {
    margin: 0.5rem;
    padding-left: 0.5rem;
    color: #6b6b6b;
  }
  .cellImg {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    margin-left: 0.8rem;
  }
}

.batch {
  .checker-item {
    &:before {
      content: " ";
      display: table;
      box-sizing: border-box;
      width: 18px;
      height: 18px;
      border: solid 1px #C3C3C3;
      border-radius: 100%;
      margin-left: 15px;
      margin-right: 15px;
    }
    &.selected {
      &:before {
        background-color: #5077aa;
      }
    }
  }
}

.guestcard {
  margin: 15px 10px;
  background-color: #ffffff;
  border-radius: 4px;
  border: solid 1px #e0e0e0;
  margin-bottom: 5rem;
  .hd {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    //.imgTitle{
    //    width: 100%;
    //    margin-bottom: 0.3rem;
    //    span:nth-child(2){
    //        float: right;
    //        margin-right: 3rem;
    //    }
    //}
    ul {
      max-width: 65%;
      list-style: none;
      color: #4A4A4A;
      font-size: 14px;
      span {
        align-items: center;
        min-width: 200px;
        abbr {
          color: #8A8A8A;
          font-size: 12px;
          margin-right: 10px;
        }
        & + span {
          margin-left: 30px;
        }
      }
    }
    .policeIdentityImg {
      width: 100px;
      height: 134px;
      text-align: center;
    }
  }
  .bd {
    border-bottom: solid 1px #e0e0e0;
    box-sizing: border-box;
    padding: 15px;
    p {
      display: flex;
      justify-content: space-between;
      span {
        font-size: 14px;
        color: #8A8A8A;
        vertical-align: middle;
        abbr {
          font-size: 18px;
          color: #4A4A4A;
          vertical-align: middle;
        }
        &:first-child {
          font-size: 16px;
          color: #4A4A4A;
        }
        &:last-child {

        }
      }
    }
    img {
      display: block;
      text-align: center;
      @media screen {
        width: 100%;
        @media (min-width: 510px) {
          margin: auto;
          width: 20%;
          height: 20%;
        }
      }
    }
  }
}

.weui-cells {
  font-size: 15px;
}

footer {
  &:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    //border-top: 1px solid #C3C3C3;
    color: #C3C3C3;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}

.dialog-info {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 10px 0;
  .info-col {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    height: 25px;
    .dialog-key {
      text-align: right;
      color: #8A8A8A;
      width: 35%;
    }
    .dialog-value {
      flex-grow: 1;
      text-align: left;
      color: #4A4A4A;
    }
  }
}

.report-info {
  display: flex;
  flex-direction: column;
  //margin-bottom: 5rem;
  padding: 15px 10px;
  background-color: #ffffff;
  font-size: 14px;
  //box-sizing: border-box;
  position: relative;
  .info-item {
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2.5rem;
    box-sizing: border-box;
    .weui-select {
      //height: 1rem;
      //line-height: 1.5rem;

    }
    .item1.weui-cell:before {
      border: none;
    }
    .item-left {
      color: #8A8A8A;
      min-width: 4.5rem;
    }
    .item-right {
      //flex-grow: 1;
      text-indent: 1em;
      text-align: left;
      color: #4A4A4A;
      height: 1.5rem;
      line-height: 1.5rem;
      &.room-number {
        border: 1px solid #E6E6E6;
        line-height: 1.5rem;
        border-radius: 4px;
        outline: none;
        -webkit-appearance: none;
        display: inline-block;
        font-size: 14px;
        width: 60%;
      }
      &.guestType {
        border: 1px solid #E6E6E6;
        border-radius: 4px;
        outline: none;
        -webkit-appearance: none;
        font-size: 14px;
      }
      &.days-item {
        text-indent: 0;
        display: flex;
        flex-grow: 1;
        align-items: center;
        border: 1px solid #E6E6E6;
        border-radius: 4px;
        box-sizing: border-box;
        input {
          -webkit-appearance: none;
          width: 40%;
          min-width: 50px;
          line-height: 35px;
          box-sizing: border-box;
          flex: 1;
          display: block;
          text-align: center;
          outline: none;
          border: none;
          font-size: 14px;
        }
        .days-reduce {
          flex-grow: 1;
          text-align: center;
          border-right: 1px solid #E6E6E6;
        }
        .days-add {
          flex-grow: 1;
          text-align: center;
          border-left: 1px solid #E6E6E6;
        }
      }
    }
    &.photoTime {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
  .info-item:first-child {
    margin-bottom: 0.5rem;
    width: 40%;
    margin-right: 0.5rem;
  }
  .info-item:nth-child(2) {
    margin-bottom: 0.5rem;
    width: 40%;
      .weui-cell_select {
          .weui-select {
              padding-right: 10px;
          }
      }
  }
    .refresh{
        float: left;
        margin-left: 0.6rem;
        margin-top: 0.5rem;
        .icon-shuaxin{
            color: #2c5fc3;
        }

    }
  .searchRoom {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    position: absolute;
    z-index: 55;
    top: 3rem;
    right: 0;
    label {
      width: 5em;
      //margin-right: 10px;
      opacity: 0;
    }
    .searchRoom-result {
      //position: absolute;
      //top: 3rem;
      flex-grow: 1;
      list-style: none;
      background-color: #FFF;
      z-index: 55;
      max-height: 111px;
      line-height: 36px;
      border: 1px solid #7FC6FF;
      border-radius: 4px;
      overflow: hidden;
      overflow-y: auto;
      text-indent: 1em;
      li {
        border-bottom: 1px solid #E6E6E6;
      }
    }
  }
  .error-room-number {
    color: red;
    text-align: left;
    padding-left: 5rem;
  }
}

.orderTitle {
  margin-top: 1rem;
  text-align: center;
  color: #2c5fc3;;
  background: #FFFFFF;
  height: 2.5rem;
  line-height: 2.5rem;
}

//订单信息
.orderInfo {
  margin-top: 1rem;
  background: #FFFFFF;
  .icon-huodongbiaoqian {
    color: #2c5fc3;
    margin-left: 0.5rem;
  }
  .content {
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    .showOrder {
      height: 1rem;
      //margin-top: -0.4rem;
      text-align: center;
      cursor: pointer;
      svg {
        margin-top: -1rem;
      }
      .vux-x-icon-ios-arrow-down {
        fill: #2c5fc3;
      }
      .vux-x-icon-ios-arrow-up {
        fill: #2c5fc3;
      }
    }
    .orderItem {
      //height: 2rem;
      line-height: 2rem;
      .titleInfo {
        display: inline-block;
        color: #8A8A8A;
        width: 3.6rem;
        text-align: right;
      }
      .roomStatus {
        float: right;
        color: #2c5fc3;
      }
      .ItemValue {
        display: inline-block;
        width: 75%;
      }
    }
    .orderButton {
      top: 3rem;
      right: 0;
      position: absolute;
      display: inline-block;
      border-radius: 5px;
      text-align: center;
      min-width: 4.5rem;
      height: 1.5rem;
      line-height: 1.5rem;
      background: #2c5fc3;
      color: #FFFFFF;
      padding: 0 0.8rem;
    }
    .line {
      border-bottom: 1px solid #e9e9e9;
      margin: 0 -1rem 0.5rem 0rem;
    }
  }
}

.dialog-report-info {
  .report-info {
    margin: 0;
    padding: 0 0 1em 0;
    .searchRoom {
      padding: 0;
      top: 30%
    }
    .error-room-number {
      text-align: right;
    }
    .searchRoom-result {
      text-align: left;
    }
  }
}

.detailPage {
  position: relative;
}

.footButton {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #ffffff;
  font-size: 14px;
  height: 45px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footButton .weui-btn {
  position: absolute;
  z-index: 0;
  margin: 0;
  color: #ffffff;
}

.weui-btn_default {
  background: #3F6CA5;
}

.button-group .weui-btn_default {
  background: #3F6CA5;
  color: #FFFFFF;
}

.footButton .weui-btn:first-child {
  width: 60%;
  left: 0;
  color: #e1e1e1;
  margin-left: 0.5rem;
}

.footButton .weui-btn:nth-child(2) {
  width: 34%;
  right: 0;
  background: #ff385c;
  margin-right: 0.5rem;
}

.pick-btn-group .weui-btn_plain-default {
  margin-top: 15px;
}

.nocheckDialogs{
  .weui-dialog{
    width: 96%;
    max-width: 370px;
    z-index:200;
    margin: auto;
  }
  .weui-mask {
    z-index: 1000;
  }
}

.withoutLicenseCon {
  width: 90%;
  min-height: 300px;
  background-color: #FFFFFF;
  border-radius: 10px;
  .onspace {
    border: 1px solid #E6E6E6;
    border-top: none;
    margin-left: 15px;
  }
  .weui-cell {
    text-align: left;
  }
  .title {
    color: #8A8A8A;
    font-size: 16px;
    text-align: left;
    height: 30px;
    line-height: 30px;
    margin-top: 15px;
    margin-left: 20px;
  }
  //.popup .weui-label{
  //  margin-left: 8px;
  //  font-size: 17px;
  //}
  .popup .weui-label {
    margin-left: 0px;
    text-align: left;
    font-size: 14px;
  }
  .Equipment {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 23px;
    height: 40px;
    line-height: 40px;
    p {
      width: 50%;
    }
    :last-child {
      text-align: right;
      margin-right: 5px;
    }
  }
  .footer {
    margin-top: 20px;
    height: 50px;
    line-height: 50px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: #8A8A8A;
    width: 110%;
    border-top: 1px solid #b6b6b6;
    .aLine {
      height: 50px;
      border: 1px solid #b6b6b6;
      border-right: none;
    }
    div {
      width: 50%;
      text-align: center;
    }
    .invoiceBtn1 {
      color: #4A9BDF;
    }
    .invoiceBtn2 {
      color: #8A8A8A;
    }
  }

}

