.recording {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  color: #F45656;
  a {
    display: block;
    width: 120px;
    outline: none;
    text-align: center;
    color: #ffffff;
    line-height: 40px;
    font-style: normal;
    background-color: #F45656;
    border: solid 0;
    border-radius: 3px;
  }
}
