p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

ul {
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

html {
  //height: 100%;
}

body {
  //height: 100%;
  background-color: #eaedef;
  .vux-tab {
    .vux-tab-item {
      position: relative;
      color: #8F8F8F;
      &:not(:first-child):before {
        content: ' ';
        display: block;
        position: absolute;
        top: 20%;
        left: 0;
        height: 60%;
        width: 1px;
        background-color: #E6E6E6;
      }
      &.vux-tab-selected {
        color: #373946;
      }
    }
  }
}

//.xs-plugin-pulldown-container {
//  transform: translateY(44px);
//}


