body {
  background-color: #f8f8f8;
}

.weui-cell__hd {
  .weui-icon-info {
    display: block;
    margin-right: 5px;
    width: 20px;
  }
  &.weui-cell__hd_lg {
    position: relative;
    margin-right: 10px;
    .weui-icon-info {
      width: 50px;
    }
    .weui-badge {
      position: absolute;
      top: -.4em;
      right: -.4em;
    }
  }
}

