.rechargeContent {
  width: 97%;
  background-color: #FFFFFF;
  border: 1px solid #e9e9e9;
  margin: 0.5rem auto;
  .row {
    margin: 0.8rem;
    text-align: left;
      .dateShow {
          border: 1px solid #EEEEEE;
          float: right;
          display: inline-block;
          width: 12rem;
          height: 1rem;
          line-height: 1rem;
          text-align: center;
          cursor: pointer;
          .chargeIcon {
              float: right;
          }
      }
  }
  .title {
      display: inline-block;
    color: #afafaf;
    font-size: 14px;
    margin-right: 1rem;
    width:4rem;
  }
  .rechargeMony {
    .weui-cell {
      padding: 0px;
      margin: 0px;
      margin-top: 10px;
      .weui-cell__hd .weui-label {
        display: block;
        width: 0px;
        word-wrap: break-word;
        word-break: break-all;
      }
    }
    .monyInp{
      color: #4b4b4b;
      border: 1px solid #e9e9e9;
      border-radius: 5px;
      height: 3rem;
      width: 100%;
      margin:0.5rem auto;
    }
    .weui-cell__bd .weui-input {
      color: #4b4b4b;
      border: 1px solid #e9e9e9;
      padding-left: 10px;
      border-radius: 5px;
      height: 50px;
      width: 100%;
      margin: auto;
    }
  }
  .payBtn {
    border-radius: 5px;
    height: 3rem;
    width: 100%;
    background-color: #5077AA;
    color: #FFFFFF;
    text-align: center;
    line-height: 50px;
    margin-top: 10px;
  }
}
.rechargeContent1{
  width: 97%;
  height: 4rem;
  background-color: #FFFFFF;
  border: 1px solid #e9e9e9;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  .clo{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
      .redTip{
          color: #df1e0b;
      }
      .blueTip{
          color: #3d72c3;
      }
      .greenTip{
          color: #30e83a;
      }
    .title{
      color: #afafaf;
      font-size: 14px;
      margin-bottom: 0.3rem;
    }
  }
}
