//list
.batchbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  padding: 0 15px;
  font-size: 16px;
  .allpick {
    display: flex;
    align-items: center;
    &:before {
      content: " ";
      display: block;
      box-sizing: border-box;
      width: 18px;
      height: 18px;
      border-radius: 100%;
      border: solid 2px #C3C3C3;
      margin-right: 15px;

    }
    &.batch {
      &:before {
        background-color: #5077aa;
      }
    }
  }
}
.button-group .weui-btn_plain-default{
  color: #000000;
}
footer {
  background-color: #fff;
  &:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #C3C3C3;
    color: #C3C3C3;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}

.batch {
  .checker-item {
    &:before {
      content: " ";
      display: table;
      box-sizing: border-box;
      width: 18px;
      height: 18px;
      border: solid 1px #C3C3C3;
      border-radius: 100%;
      margin-left: 15px;
      margin-right: 15px;
    }
    &.selected {
      &:before {
        background-color: #5077aa;
      }
    }
  }
}
article.prepay{
    .weui-dialog.weui-dialog__bd{
     padding-left: 1rem;

   }
}


.choose {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 50px;
  border-radius: 8%;
  .checker-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &:before {
      content: " ";
      display: inline-block;
      box-sizing: border-box;
      width: 18px;
      height: 18px;
      border: solid 1px #C3C3C3;
      border-radius: 5px;
      margin-right: 15px;
    }
    &.selected {
      &:before {
        background: url('data:image/svg+xml;charset=utf8,<svg width="18px" height="18px" viewBox="0 0 36 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="1.当日将到/pms订单/预付确认" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="预付款操作-预付-输入金额" transform="translate(-175.000000, -585.000000)"><g id="Group-2" transform="translate(175.000000, 585.000000)"><rect id="Rectangle" stroke="#1ACDB4" stroke-width="2" x="1" y="1" width="34" height="34" rx="5"></rect><path d="M6.86169054,16.6295651 L13.6055018,22.0020776 L30.3979724,6.53204749 C30.3979724,6.53204749 31.5251982,5.50359158 32.5084285,6.3064643 C32.8012507,6.5486847 33.1392986,7.23313534 32.377474,8.3050369 L14.8458097,28.8434599 C14.8458097,28.8434599 13.5007382,30.6825259 11.9050913,28.8232264 L4.33999016,18.6066692 C4.33999016,18.6066692 3.44190752,17.2241094 4.56499213,16.3944646 C4.94408813,16.1165359 5.8058813,15.6832418 6.86169054,16.6295651" id="勾-(1)" fill="#1ACDB4"></path></g></g></g></svg>');
        background-position: center;
        background-size: contain;
        border: none;
        border-radius: 0;
      }
    }
  }
}

//detail
.money {
  margin-bottom: 29px;
  outline: none;
  border: 1px solid #E6E6E6;
  height: 35px;
  border-radius: 6px;
  text-indent: 1em;
  font-size: 14px;
  &::placeholder {
    color: #E0E0E0;
  }
}

.dialog .filterTop{
  margin-left: 1rem;
  text-align: left;
  padding-top: 0.5rem;
  font-size: 16px;
  margin-bottom: -0.6rem;
}

.dialog .weui-cells{
  font-size: 14px;
}

.vux-popup-dialog{
  //z-index: 5001;
  z-index: 9999;
}

.vux-popup-picker-container{
  //z-index: 9999;
}

.sel{
  background-color: #cbcbcb;
}

.weui-btn_default{
  color: #ffffff;
  font-family: "PingFang SC";
}

.orderCell{
    position: relative;
  font-size: 15px;
  background-color: #ffffff;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  //height: 200px;
  .orderCellKey{
    color: #8a8a8a;
      display: inline-block;
      width: 3.8rem;
      text-align: right;
  }
  .orderCellTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0  1em;
    padding: 10px 0;
  }
  .space{
    border: 1px solid #E6E6E6;
    border-top: none;
    margin-left: 1em;
    margin-bottom: 20px;
  }
  .orderCellBody{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0  1em;
      .dayCount{
          position: absolute;
          right: 2rem;
      }
    .space10{
      height: 10px;
    }

    .setArrowRight{
        display: inline-block;
        height: 20px;
        width: 20px;
        line-height: 20px;
        border-width: 2px 2px 0 0;
        border-color: #E6E6E6;
        border-style: solid;
        margin-top: 3rem;
       transform: matrix(0.71,0.71,-0.71,0.71,0,0);
    }
  }
  .orderCellFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px  1em;
    .weui-btn_default{
      background-color: #5077AA;
      margin: 0;
    }
  }

}

.QrCode {
  .mask{
    height: 100%;
    width: 100%;
    background-color: #0D0D0D;
    opacity: 0.5;
    position: absolute;
    top: 0;
    z-index: 998;
  }
  .qrContent{
    height: 300px;
    width: 90%;
    background-color: #ffffff;
    position: fixed;
    top: 150px;
    left: 5%;
    z-index: 9999;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .qrTitle{
      height: 50px;
      //width: 90%;
      line-height: 50px;
      font-size: 20px;
      color: #8A8A8A;
      position: relative;
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      text-align: center;
      p{
        display: inline-block;
      }
      :last-child{
        position: absolute;
        right: -100px;
        font-size: 25px;
      }
    }

  }
}
.orderStatusBtn{
    list-style: none;
    color: #2c5fc3;;
    width: 100%;
    border: 1px solid #e9e9e9;
    height: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow:  0px 0px 10px 0px rgba(190, 190, 190, 0.5);
    &.checkStatus{
        background: #3d72c3;
        color: #FFFFFF;
    }
}
.orderTitle{
    height: 4rem;
    background: #FFFFFF;
    margin-top: 1rem;
    line-height: 4rem;
    margin-bottom: 1rem;
    span:first-child{
        display: inline-block;
        width: 20%;
        height: 2.5rem;
        text-align: center;
        background: #2c5fc3;
        color: #FFFFFF;
        border-radius: 5px;
        line-height:  2.5rem;
        margin-left: 1rem;
    }
    span:nth-child(2){
        border-radius:5px ;
        margin-top:0.75rem;
        margin-right: 1rem;
        display: inline-block;
        float: right;
        width: 69%;
        height: 2.5rem;
        line-height: 2.5rem;;
        border: 1px solid  #e9e9e9;;
        .weui-cell{
            height: 100%;
            padding-top: 0;
            padding-bottom: 0;
            .weui-cell__bd{
                width: 100%;
            }
        }
        .icon-sousuo{
            color: #959595;
        }
    }
}
.icon-erweima1{
    color: #5077AA;
    position: absolute;
    right: 1rem;
    top:3rem;
    font-size: 30px;
}
#qrcode{
  //width: 180px;
  //height: 180px;
  ////background-color: #0BB20C;
  //margin:auto;
  //z-index: 9999;
  //position: fixed;
  //top: 215px;
  //left: 120px;
}
